<?xml version="1.0"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="OpenNI.Net" publicKeyToken="6B43D0C6CF74EE7F" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.5.2.7" newVersion="1.5.2.7"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
